* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #f1f5f7;
    --ice: #f5f6fa;
    --bg: #dcdde1;

    --black-1: #2d3436;
    --black-transparent: #2d3436bf;

    --green-1: #00b894;
}

body {
    background-color: var(--ice);
    font-family: 'Roboto', sans-serif;
}

main {
    margin-top: -3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(min-width: 1024px) {
    main {
        margin-top: -5rem;
    }
}